<!DOCTYPE html>
<html>
<head>
    <title>Admin Upload Panel</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="chat-container">

    <h2>Admin Upload Panel</h2>
    {% if success_message %}
    <div class="success-message">
        {{ success_message }}
    </div>
{% endif %}


    <form method="POST" enctype="multipart/form-data" class="admin-form">

        <input type="text" name="subject"
               placeholder="Subject (DSA / DBMS / OS)" required>

        <input type="text" name="type"
               placeholder="Type (PYQ / NOTES)" required>

        <input type="text" name="year"
               placeholder="Year (2024)" required>

        <input type="file" name="file" required>

        <button type="submit">Upload Material</button>

    </form>

</div>

</body>
</html>
