<!DOCTYPE html>
<html>
<head>
    <title>AI-Powered Study Material Assistant</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="chat-container">

    <h2>AI-Powered Study Material Assistant</h2>

    <form method="POST">
        <input type="text" name="message"
               placeholder="Ask for study material (Example: DSA PYQ 2022)"
               required>
        <button type="submit">Search Material</button>
    </form>

    <div class="bot-reply">
        {% for sender, msg in chat_history %}
            <p><strong>{{ sender }}:</strong> {{ msg|safe }}</p>
        {% endfor %}
    </div>

</div>

</body>
</html>